body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
}

.navbar {
display:flex;
justify-content: space-between;
height: 4rem;
}

.iconReserve {
    width: auto;
    padding-left:25px;
}

.menu {
display:flex;
align-items: center;

color:#76A5EC;
font-weight: bold;

}
.info {
    padding-left:25px;
}
.comment {
    padding-left:25px;
}

h1 {
    font-size: 2,4rem;
    padding-left:25px;
}

h3 { 
    font-size: 1,6rem;

}

h4 {
    font-size: 1rem;
    font-weight: bold;
    
}

h5 {
    font-size: 0,8rem;
    font-weight: normal;

}

h4 {
    font-size: 1rem;
    font-weight: bold;
    
}

h5 {
    font-size: 0,8rem;
    font-weight: normal;
}



.hosts article h5 {
    margin-top:3px;
    padding-left: 5px;
}
.hosts article h4 {
    margin-top:3px;
    padding-left: 5px;
}

h2.searchFiltersTitle {
    margin-right: 20px;
}

section#marseilleHosting h2 {
    margin-left:25px;
    
}

.stars {
    margin-left:10px;
    margin-bottom: 5px;
}

.mostPopular.stars {
    margin-top:20px;
}


.hosts article h5 {
    margin-top:3px;
    padding-left: 5px;
}
.hosts article h4 {
    margin-top:3px;
    padding-left: 5px;
}

h2.searchFiltersTitle {
    margin-right: 20px;
}

section#marseilleHosting h2 {
    margin-left:25px;
    
}


section.mostPopular h2 {
    margin-left:25px;
}

.menu li {
    margin-right:1.5em;
}

.searchSection {
   display:block;
   background-color: white;

   margin-top: 30px;
}


.searchForm {
    display: flex;

    margin-left:150px;
    width: 30%;
   
}
form {
       margin-top: 0em;
      
      
}
.searchForm {
    margin-left:25px;
}

.input1 {
    width: 70%;
    border: solid 1px ;
    border-color:lightgray ;
    margin-left: -1px;
    
 
}

.input-icons {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;

    z-index:10000;
}

#search {
    
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;

}

.searchFilters {
    display: flex;

    width: 70%;
    margin-top: 2rem;
    margin-left:25px;
    
}


.searchFiltersFilter {
    display: flex;
    width: 12em;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}
.searchFiltersFilterWrapicon {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;

    margin-right: 10px;
}


.searchFiltersTitle h2 {
  margin-left:0;

}
.searchFiltersFilterWrapiconIcon {
    color: blue;
}


section {
    background-color: #F2F2F2;
    border-radius:25px;
}

.hostingAll {
    display: flex;
    justify-content: space-between;
    height: 40%;
}

#marseilleHosting {
    width: 65%;
    margin-right: 10px;
    margin-top: 20px;
    margin-left:25px;
}

article {

    width: 30%;
    height: 90%;
    border-radius: 25px;
    background-color:white;

    padding:3px;
    margin-top: 25px;

    box-shadow: 0 0 1em #acabab;
}

.hosts {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

article h4, h3 {
padding:0;
margin:0;
}

.stars {
    align-self: flex-end;
   
}


.photoRoom {
    width: 100%;
    height: 135px;

    object-fit: cover;

    border-radius: 25px 25px 0 0;
}





.displayMore {
    padding-left: 25px;
    Padding-top: 25px;
    padding-bottom: 25px;
}

.mostPopular article h4 {

    margin-top:3px;
       padding-left: 5px;
   }

.mostPopular article h5 {

margin-top:3px;
    padding-left: 5px;
}


.mostPopular h2{
    align-self: flex-start;
}

.mostPopular {
    display: flex;
    width: 30%;

    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-right: 25px;

    
}
.mostPopular article {
    display:flex;
    flex-wrap: wrap;
    
    width: 80%;
    height: auto;

    margin: 10px 0 10px 0;
    padding: 5px;
}
.mostPopular article header {
    width: 33%;
}

.mostPopular article .photoRoom {
    object-fit: cover;
    height: 7rem;
    width: 100%;
    border-radius: 25% 0 0 25%;
}
.mostPopular article header h3 {
    width:100%;
    height: 10px;
   
}
.mostPopular .infos {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.mostPopular .infos .stars {
    align-self: flex-start;
}

.stars .hostingMainCardGradeIcon[data-active=true] {
    color: #0065FC;
}
.stars .hostingMainCardGradeIcon[data-active=false] {
    color: #d2d4d6;
}

.secondBlock {
    display:flex;
    justify-content: space-between;
}

.doubleImage {
    display:flex;
    flex-direction: column;

}
.secondBlock article {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    width: auto;
}

.secondBlock article .photoRoom {
    height:150px;
}

.doubleImage .photoRoom {
    height: 75px;

}
.title2  {
    margin-left: 25px;
}
.secondBlock {
    margin-left: 25px;
    margin-right:25px;
}


















